*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

/* main menu */
.conteiner{
    max-width: none;
    margin: 0 auto;
    text-align: center;    

}

ul li{
    list-style-type: none;
    display: inline-block;
    position: relative;
    left: 40%;
    margin: 20px;
    font-weight: bolder;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 8px;
    padding: 12px;
    cursor: pointer;
   
       
}


.box{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    position: relative;
}

span{
    height: 50px;

}
.text-red, .text-green{
    color: yellow;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:30px ; 
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    

      
}

.text-yellow{
    color: green;
    font-family: 'Rubik Mono One', sans-serif;
    font-size:30px ; 
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}
.red{
    background-color: red;
    background-image: url(./img/01.png)    
}

.green{
    background-color: green;
    background-image: url(./img/02.png);
}

.yellow{
    background-color: yellow;
    background-image: url(./img/03.png);
}


